@font-face {
	font-family: simpsons;
	src: url("fonts/simpsons.otf");
}

@font-face {
	font-family: varela;
	src: url("fonts/varela.ttf");
}

@font-face {
	font-family: vanilla;
	src: url("fonts/vanilla.ttf");
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	font-family: vanilla;
	background-color: #f8db27;
	color: #c06;
}

canvas {
	border-radius: 8px;
	background-color: #fced9a;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	margin: 20px 0;
}

h1 {
	margin: 0;

	font-family: simpsons;
	font-weight: bold;
	font-size: 60px;
	color: #9c5b01;
}

h2 {
	margin: 0;

	font-family: varela;
	font-weight: bold;
	font-size: 20px;
	color: #9c5b01;
}

#main {
	display: flex;
	width: 100%;
	height: calc(100% - 130px);

	background-color: #dce4f8;
}

.left, #popup>div:not(.black) {
	display: flex;
	flex-direction: column;
	overflow: auto;

	padding: 20px;
	max-width: 400px;
	height: calc(100% - 40px);

	background-color: #ffaad5;
}

.right {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

p, span {
	letter-spacing: .02rem;
}

p {
	font-size: 16px;
}

p.comment {
	font-family: varela;
	font-size: 14px;
}

.error {
	color: #2f64d6;
}

select, a {
	width: 100%;

	font-family: vanilla;
	font-size: 14px;

	border-radius: 3px;
	color: #9c5b01;
}

select {
	padding: 2px;

	border: 2px solid #9c5b01;
	background-color: #fff;
}

.br {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #b26801;
}

a:not(#topright>a) {
	transition: background-color .1s linear, border-color .1s linear, box-shadow .4s ease-in-out;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px 2px;

	text-decoration: none;
	text-align: center;

	border: 2px solid #9c5b01;
	background-color: #fefade;
}

a:not(#topright>a):hover {
	background-color: #fced98;
	border-color: #ac6b11;
	box-shadow: 0 0 5px #c06;
}

.invisible {
	display: none !important;
}

#ai-image {
	display: flex;
	justify-content: center;
	overflow: hidden;
	max-height: 500px;
}

#popup>div.black {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

#popup>div:not(.black) {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-height: 300px;
	height: unset;

	border-radius: 15px;
}

#popup img {
	border-radius: 8px;
	border: 5px dashed #fff;
}

#topright {
	position: fixed;
	top: 0;
	right: 0;

	padding: 10px;
	display: flex;
	gap: 10px;
}

#topright>a {
	transition: 0.1s transform ease-out, 0.2s border-radius ease-out, 0.2s background-color ease-out;

	overflow: hidden;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.4);
}

#topright>a:hover {
	transform: scale(1.05);
	border-radius: 30%;
	background-color: rgba(255, 255, 255, 0.7);
}

#topright>a:active {
	transform: scale(1.15);
}

#topright>a:active img {
	filter: invert(0.3);
}

#topright img {
	width: 60px;
	height: 60px;
}
