@font-face {
	font-family: simpsons;
	src: url("fonts/simpsons.otf");
}

@font-face {
	font-family: varela;
	src: url("fonts/varela.ttf");
}

@font-face {
	font-family: vanilla;
	src: url("fonts/vanilla.ttf");
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	font-family: vanilla;
	background-color: #f8db27;
	color: #c06;
}

canvas {
	border-radius: 8px;
	background-color: #fced9a;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	margin: 20px 0;
}

h1 {
	margin: 0;

	font-family: simpsons;
	font-weight: bold;
	font-size: 60px;
	color: #9c5b01;
}

h2 {
	margin: 0;

	font-family: varela;
	font-weight: bold;
	font-size: 20px;
	color: #9c5b01;
}

#main {
	display: flex;
	width: 100%;
	height: calc(100% - 130px);

	background-color: #dce4f8;
}

.left {
	display: flex;
	flex-direction: column;
	overflow: auto;

	padding: 20px;
	max-width: 400px;
	height: calc(100% - 40px);

	background-color: #ffaad5;
}

.right {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

p, span {
	letter-spacing: .02rem;
}

p {
	font-size: 16px;
}

p.comment {
	font-family: varela;
	font-size: 14px;
}

span.error {
	color: #2f64d6;
}

select, a {
	width: 100%;

	font-family: vanilla;
	font-size: 14px;

	border-radius: 3px;
	color: #9c5b01;
}

select {
	padding: 2px;

	border: 2px solid #9c5b01;
	background-color: #fff;
}

.br {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #b26801;
}

a {
	transition: background-color .1s linear, border-color .1s linear, box-shadow .4s ease-in-out;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px 2px;

	text-decoration: none;
	text-align: center;

	border: 2px solid #9c5b01;
	background-color: #fefade;
}

a:hover {
	background-color: #fced98;
	border-color: #ac6b11;
	box-shadow: 0 0 5px #c06;
}

img.invisible {
	display: none;
}

#ai-image {
	display: flex;
	justify-content: center;
	overflow: hidden;
	max-height: 500px;
}
